
.back {
    
    opacity: .7;
    height: 400px;
   
}

#bar{
    background-image: url(../caspar-camille-rubin-0qvBNep1Y04-unsplash.jpg);
    background-size: cover;
}
h1 {
    color: rgb(9, 12, 12);
    z-index: 2;
    top: 3vh;
    left: 7vw;
    position: relative;
}

#intro, button{
    z-index: 2;
    position: relative;
    top: 12vh;
    left: 7vw;  
    color: rgb(228, 228, 228);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: large;
}

#but{
    font-weight: 1000;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(57, 228, 57);
    color: #000;
    left: 30vw;
    top: 12vh;
    border-radius: 3em;
    position: relative;
}
#van{
    float: left;
    width: 44%;
    clear: both;
}
#ahm{
    width: 44%;
    float: right;
}

section{
    margin: 20px;
    padding: 0px;
    background-color: rgb(240, 238, 238);
    border-radius: 5px;
    border: solid;

}